{% extends "base.html" %}
{% block content %}
{% include "header.html"%}
	<div id="form-container">
		<h1>Add New Category</h1>
			<form action="/category/add" method="POST" id="usrform">
				<label for="name">Name</label><br>
				<input id="name" type="text" name="name" required><br>

				<label for="description">Description</label><br>
				<textarea id="description" name="description" form="usrform"></textarea><br>
				<input type="submit" value="Create">
				<a id="cancel" href="{{url_for('showCategories')}}">Cancel</a>
			</form>
	</div>
{% endblock %}
