{% extends "base.html" %}
{% block content %}
{% include "header.html"%}
	<div id="form-container">
		<h1>Add New Item for {{category.name}}</h1>
		<form id="usrform" action="{{url_for('addItem', category_id = category.id)}}" method="POST">
			<label for="name">Name</label>
			<input id="name" type="text" name="name" required>

			<label for="description">Description</label>
			<textarea id="description" name="description" form="usrform"></textarea>

			<input type="submit" value="Create">
			<a id="cancel" href="{{url_for('showItems', category_id=category.id)}}">Cancel</a>
		</form>
	</div>
{% endblock %}
