<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Item</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="form-container">
		<h1>Add New Item for {{category.name}}</h1>
		<form id="usrform" action="{{url_for('addItem', category_id = category.id)}}" method="POST">
			<label for="name">Name</label>
			<input id="name" type="text" name="name" required>
			
			<label for="description">Description</label>
			<textarea id="description" name="description" form="usrform"></textarea>
			
			<input type="submit" value="Create">
			<a id="cancel" href="{{url_for('showItems', category_id=category.id)}}">Cancel</a>
		</form>
	</div>
</body>
</html>