{% extends "base.html" %}
{% block content %}
{% include "header.html"%}
	<div id="form-container">
	<h1>Edit Item {{item.name}}</h1>
		<form action="{{url_for('editItem', category_id = category.id, item_id = item.id)}}" method="POST">
			<label for="name">Name</label>
			<input id="name" type="text" name="name" value="{{item.name}}" required><br>

			<label for="description">Description</label>
			<textarea id="description" name="description">{{item.description}}</textarea><br>

			<input type="submit" value="Update">
			<a id="cancel" href="{{url_for('showItems', category_id=category.id)}}">Cancel</a>
		</form>
	</div>
{% endblock %}
