<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="main-container">
		<header id="head-container">
			<p>Catalog App <button>Login</button></p>
		</header>
		
		<aside id="category-container">
			<h1>Categories</h1>
			<ul>
				<li>Soccer</li>
			<ul>
		</aside>
		
	</div>
</body>
</html>