{% extends "base.html" %}
{% block content %}
{% include "header.html"%}
		<div id="title-container">
			<p>Categories</p>
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
		<div id="item-list">
			{% if categories %}
				{% for category in categories %}
					<section class="item">
						<h2 class="item_name">{{category.name}}</h2>
						<p class="item_count">Total Items: {{category.items|length}}</p>
						<p class="item_description">{{category.description}}</p>
						<div class="selection-panel">
							<a href="{{url_for('showItems', category_id = category.id)}}">Items</a>
						</div>
					</section>
				{% endfor %}
			{% else %}
				<p>There are no categories</p>
			{% endif %}
		</div>
{% endblock %}
