{% extends "base.html" %}
{% block content %}
{% include "header.html"%}
		<header id="title-container">
			<p>{{category.name}}</p>
		</header>
		<div id="select-tab">
			{% if logged_in_user_id and logged_in_user_id == category.user_id %}
			<a id="new-item" href="{{url_for('addItem', category_id = category.id)}}">Add New Item</a>
			<a id="edit-category" href="{{url_for('editCategory', category_id = category.id)}}">Edit Category</a>
			<a id="delete-category" href="{{url_for('deleteCategory', category_id = category.id)}}">Delete Category</a>
			{% endif %}
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
			{% if items %}
			<section id="item-list" class="course" style="justify-content: flex-start;">

				{% for item in items %}
				<section class="item">
					<h2 class="item_name">{{item.name}}</h2>
					<p class="item_description">{{item.description}}</p>
					{% if logged_in_user_id and logged_in_user_id == category.user_id %}
					<div class="selection-panel">
						<a href="{{url_for('editItem', category_id = category.id, item_id = item.id)}}">Edit</a>
						<a href="{{url_for('deleteItem', category_id = category.id, item_id = item.id)}}">Delete</a>
					</div>
					{% endif %}
				</section>
				{% endfor %}
			</section>

			{% else %}
				<p>There are no items in menu.</p>
			{% endif %}
{% endblock %}
