<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Not Found</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="main-container">
		<header id="head-container">
			<p>Page not found!</p>
		</header>
		<p id="select-tab"><a id="home" href="{{url_for('showRestaurants')}}">Home</a></p>
		
	</div>
</body>
</html>