<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Restaurant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="form-container">
		<h1>Add New Restaurant</h1>
			<form action="/restaurant/new" method="POST" id="usrform">
				<label for="name">Name</label><br>
				<input id="name" type="text" name="name" required><br>
			
				<label for="location">Location</label><br>
				<input id="location" type="text" name="location" required><br>
			
				<label for="description">Description</label><br>
				<textarea id="description" name="description" form="usrform"></textarea><br>
				<input type="submit" value="Create">
				<a id="cancel" href="/restaurants">Cancel</a>
			</form>
	</div>
</body>
</html>