<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurants</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	
	<div id="main-container">
		<header id="head-container">
			<p>RESTAURANTS</p>
		</header>
		<p id="select-tab"><a id="new-item" href="{{url_for('newRestaurant')}}">Create New Restaurant</a></p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
		<div id="item-list">
			{% if restaurants %}
				{% for restaurant in restaurants %}
					<section class="item">
						<h2 class="item_name">{{restaurant.name}}</h2>
						<p class="item_location">{{restaurant.location}}</p>
						<p class="item_description">{{restaurant.description}}</p>
						<div class="selection-panel">
							<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Menu</a>
							<a href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit</a>
							<a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete</a>
						</div>
					</section>
				{% endfor %}
			{% else %}
				<p>There are no restaurants</p>
			{% endif %}
		</div>
	</div>
</body>
</html>